NODE_ENV=local
APP_NAME='Nestjs Prisma'
APP_PORT=3052

DATABASE_URL=postgresql://root:secret@localhost:46510/nestjs_prisma_db

REDIS_URL=redis://localhost:6379

JWT_SECRET=secret
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRES_IN=1d
JWT_REFRESH_TOKEN_EXPIRES_IN=30d